@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* These variables can be used to control values throughout the job board. */
:root {
  /*  Darker primary color
      WARNING - This can be set in the Ashby admin under theme settings!
      If you modify, you should make sure your colors work with the settings there. */
  --colorPrimary900: #249edc !important;

  /*  Lighter primary color
      WARNING - This can be set in the Ashby admin under theme settings!
      If you modify, you should make sure your colors work with the settings there. */
  --colorPrimary600: #249edc !important;

  /*  The max width of the job board container */
  --widthMaxJobBoard: 1200px;
  --widthMaxContent: 1200px;

  /*  Container border radius */
  --borderRadiusContainer: 4px;

  /*  Border radius of control elements (e.g. input boxes) */
  --borderRadiusControl: 10px;

  /*  Button border radius */
  --borderRadiusButton: 48px;

  /* Button Hover */
  --buttonHoverBackground: #11567f !important;

  /*  Font families */
  --fontFamily: "lato", sans-serif;
  --buttonFontFamily: "Texta", "lato", sans-serif;
  --headlineFontFamily: "Texta", "lato", sans-serif;
  --colorAppBackground: #f6f9fa;
  --colorNeutral800: #000;
  --colorNeutral700: #2d2c2c;
  --colorNeutral600: #666666;
  --colorNeutral500: #999999;
  --colorNeutral400: #cccccc;
  --colorNeutral300: #d7dae0;
  --colorNeutral200: #f6f9fa;
  --colorNeutral100: #fff;
}

/* The heading of a department, which can have many teams under it. */
.ashby-job-posting-heading,
.ashby-department-heading {
  text-transform: uppercase;
  font-size: 30px;
  font-family: var(--headlineFontFamily);
  font-weight: 900;
  font-style: normal;
  margin: 32px 0 24px 0;
}
.ashby-department-heading-level::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='48' viewBox='0 0 46 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3834 24L4.26619 32.859C1.55764 34.3457 0.0308402 37.0197 0 39.7816H0.00317571C-0.0191126 41.1984 0.349959 42.6405 1.15188 43.9608C3.49672 47.8266 8.70275 49.1467 12.787 46.9145L41.7208 31.0258C43.6728 29.9598 44.9991 28.2857 45.6086 26.4037C45.8376 25.7206 45.9615 25.0195 45.9923 24.3212C45.9941 24.2917 45.9958 24.2621 45.9974 24.2325C45.9994 24.1551 46.0002 24.0776 45.9999 24C46.0002 23.9224 45.9994 23.8449 45.9974 23.7675C45.9958 23.7379 45.9941 23.7083 45.9923 23.6788C45.9615 22.9805 45.8376 22.2794 45.6086 21.5963C44.9991 19.7143 43.6728 18.0402 41.7208 16.9742L12.787 1.0855C8.70275 -1.14666 3.49672 0.17339 1.15188 4.03925C0.349959 5.35947 -0.0191126 6.80157 0.00317571 8.21836H0C0.0308402 10.9803 1.55764 13.6543 4.26619 15.141L20.3834 24Z' fill='%2329B5E8'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 12px;
}
/* Job Posting Card */
.ashby-job-posting-brief {
  border: 1px solid #ccc !important;
  margin-bottom: 10px;
  padding: var(--spacingLarge);
  position: relative;
}

/* Job Posting Card */
.ashby-job-posting-brief::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 48px;
  width: 10px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='32' viewBox='0 0 17 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5832 16.8981C16.7135 16.7908 16.8184 16.6556 16.8905 16.5022C16.9626 16.3489 17 16.1812 17 16.0114C17 15.8417 16.9626 15.674 16.8905 15.5207C16.8184 15.3673 16.7135 15.2321 16.5832 15.1248L2.22366 0.480515C1.57816 -0.160172 1.0006 -0.160172 0.457025 0.480515C-0.0865548 1.1212 -0.177151 1.71613 0.457025 2.25384L13.5482 16.0057L0.468351 29.6661C0.323333 29.7721 0.205275 29.9114 0.123861 30.0725C0.0424482 30.2336 -7.82582e-09 30.4119 0 30.5928C7.82582e-09 30.7737 0.0424482 30.9519 0.123861 31.113C0.205275 31.2741 0.323333 31.4134 0.468351 31.5195C1.01193 32.1602 1.60081 32.1602 2.23498 31.5195L16.5832 16.8981Z' fill='%23249EDC'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transform: translate(0, -50%);
  transition: 500ms ease right, 500ms ease opacity;
}

/* Hover States for the Job Posting Card */
.ashby-job-posting-brief:hover {
  background-color: #fff;
  border-color: var(--colorPrimary900);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.05);
}
/* Job Posting Card Arrow - Hover State */
.ashby-job-posting-brief:hover::after {
  right: 32px;
  opacity: 1;
  transition: 500ms ease right, 500ms ease opacity;
}

/* The container for the details of the job posting, in the details pane. */
.ashby-job-posting-brief-details {
  margin-top: 4px;
  font-size: 14px;
  color: var(--colorNeutral600);
}

/* The title of the job posting in the details pane. */
.ashby-job-posting-brief-title {
  font-size: var(--fontSizeLarge);
}

.ashby-job-posting-right-pane > div,
.ashby-job-posting-right-pane,
.ashby-job-posting-left-pane {
  border-radius: var(--borderRadiusContainer) !important;
}
@media screen and (min-width: 768px) {
  /* The sidebar of the job posting in the details pane. */
  .ashby-job-posting-left-pane {
    margin-right: 48px;
  }
  .ashby-job-posting-right-pane > div {
    padding: 48px;
  }
  .ashby-application-form-container,
  .ashby-application-form-autofill-uploader {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .ashby-application-form-autofill-uploader {
    margin: 0;
  }
  .ashby-application-form-autofill-uploader {
    padding: 24px 24px 0 24px;
  }
  .ashby-job-posting-brief,
  .ashby-job-posting-right-pane > div,
  .ashby-application-form-container,
  .ashby-job-posting-right-pane > nav {
    box-shadow: none !important;
  }
  .ashby-job-posting-right-pane {
    box-shadow: 0 2px 8px var(--colorNeutralShadow);
  }
  .ashby-application-form-container {
    padding: 24px;
  }
}
/* The sodebar subheads of the job posting in the details pane. */
.ashby-job-posting-left-pane h2 {
  text-transform: uppercase;
  font-family: var(--buttonFontFamily);
  font-weight: 900;
  color: var(--colorNeutral700);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .ashby-job-posting-left-pane {
    align-self: flex-start;
    position: sticky;
    top: 150px;
    box-shadow: 0px 10px 20px 0px rgba(152, 162, 179, 0.1),
    0px 2px 6px 0px rgba(152, 162, 179, 0.25) !important;
overflow: hidden;
border-bottom: 6px solid var(--colorPrimary600);
  }
}
/* The tabs of the job posting in the details pane */
.ashby-job-posting-right-pane a {
  font-size: 16px;
  font-weight: 700;
}

/* Buttons */
button {
  text-transform: uppercase;
  color: #fff !important;
  background: var(--colorPrimary900) !important;
  font-family: var(--buttonFontFamily) !important;
}
button path {
  fill: #fff !important;
}
button:hover {
  background: var(--buttonHoverBackground) !important;
  border-color: var(--buttonHoverBackground) !important;
}

.ashby-job-board-back-to-all-jobs-button {
  display: none;
}

.ashby-job-posting-right-pane a:last-child button,
.ashby-application-form-submit-button {
  width: auto;
  margin: 0 auto;
  padding: 12px 24px;
}

div[aria-labelledby="job-application-form"] {
  background-color: #fff !important;
  padding-bottom: 48px !important;
}



div[class*="yesno"] {
  margin-top: 0.5em;
}

div[class*="yesno"] button {
  background-color: #F6F9FA !important;
  color: #000 !important;
  padding: var(--spacingSmall);
}
div[class*="yesno"] button[class*="active"] {
  background-color: var(--colorPrimary900) !important;
  color: #fff !important;
}