.img-fluid {
    width: 100%;
    display: block;
}

.vy-sustainability-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1.5rem;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    border: .0625rem solid #e9e9e9;
}

.vy-sustainability-box_info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.vy-sustainability-box_percentage {
    font-family: VuelingPilcrow,Arial,sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.1;
    text-transform: uppercase;
    color: #00bbba;
}

.vy-sustainability-box_description {
    color: #000;
    font-family: SourceSansPro,Arial,sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.3;
}

.vy-sustainability-box_year {
    font-family: VuelingPilcrow,Arial,sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.1;
    text-transform: uppercase;
    color: #333;
}