.vy-spinner--global {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: white;
}

.vy-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.vy-spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vy-spinner_indicator {
    animation: rotate 1.2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.overflow-hidden {
    overflow: hidden;
}

#initialBannerLoading {
    height: 921px;
}

.VuelingClub-spinner {
    height: 731px;
}

.BestPrices-spinner {
    height: 403px;
}

.CardHightlight-spinner {
    height: 534px;
}

.InspirationCard-spinner {
    height: 640px;
}

.Agreements-spinner {
    height: 456px;
}

.Seo-spinner {
    height: 850px;
}