.login-btn-wrap {
  position: relative;
	margin-right: 15px;
}
.login-btn-wrap a.btns.login {
  background: #0A3B58;
  color: #fff;
  font-weight: 500;
}
.login-btn-wrap.active .login-form-wrap {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.login-btn-wrap .login-form-wrap {
  position: absolute;
  right: -100%;
  top: 120%;
  width: 330px;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
	display: none;
}
@media (max-width: 767px) {
  .login-btn-wrap .login-form-wrap {
    right: -80%;
  }
}
.login-btn-wrap .login-form-wrap .top {
  padding: 30px 28px;
  border-radius: 15px 15px 0 0;
  background: #081D31;
}
.login-btn-wrap .login-form-wrap .top .login-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8BB5CE;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-weight: 700;
}
.login-btn-wrap .login-form-wrap .top .input-wrap {
  margin-bottom: 30px;
}
.login-btn-wrap .login-form-wrap .top .input-wrap input {
  width: 100%;
  background: none;
  padding: 0 0 10px;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #FFF;
  font-size: 17px;
  font-weight: 300;
}
.login-btn-wrap .login-form-wrap .top .input-wrap input::-webkit-input-placeholder {
  color: #fff;
  font-size: 17px;
}
.login-btn-wrap .login-form-wrap .top .input-wrap input:-moz-placeholder {
  color: #fff;
  font-size: 17px;
}
.login-btn-wrap .login-form-wrap .top .input-wrap input::-moz-placeholder {
  color: #fff;
  font-size: 17px;
}
.login-btn-wrap .login-form-wrap .top .input-wrap input:-ms-input-placeholder {
  color: #fff;
  font-size: 17px;
}
.login-btn-wrap .login-form-wrap .top .input-submit-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-btn-wrap .login-form-wrap .top .input-submit-layout a {
  color: #fff;
  font-size: 7px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.login-btn-wrap .login-form-wrap .top .input-submit-layout .input-submit button {
  background: #0A3B58;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border-radius: 5px;
  width: 79px;
  height: 33px;
}
.login-btn-wrap .login-form-wrap .bottom {
  padding: 5px 20px 5px 28px;
  border-radius: 0 0 15px 15px;
  background: #0A3B58;
}
.login-btn-wrap .login-form-wrap .bottom a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.grids-btn-wrap {
  position: relative;
}
.grids-btn-wrap.active .grids-wrap {
  visibility: visible;
  opacity: 1;
}
.grids-btn-wrap .grids-wrap {
  position: absolute;
  right: -100%;
  top: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7.5px);
  width: 108px;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.grids-btn-wrap .grids-wrap span {
  color: #E6ECEF;
  font-size: 7px;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-family: "Klavika Rg";
}

.booking-wrapper {
  max-width: 1172px;
  margin: 0 auto;
}

.booking-wrapper.mobile-version { padding: 25px; }

.booking-wrap-info {
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  padding: 18px 35px 25px;
  border-radius: 20px;
  position: relative;
  z-index: 10;
  color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.booking-wrap-info input { padding: 15px 0; background-color: transparent; box-shadow: none; color: #fff; font-size: 22px; font-weight: 300; width: 25%; }
.booking-wrap-info input::placeholder { color: #fff; }
.booking-wrap-info input:focus { background-color: transparent; box-shadow: none; }
.booking-wrap-info span {  }
@media (max-width: 767px) {
  .booking-wrap-info {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
  }
	.booking-wrap-info input { width: 100%; }
	.booking-wrap-info span { width: 100%; font-size: 18px; }
	.booking-wrap-info .booking-submit { width: 100%; }
}
.booking-wrap-info.style-2 {
  background: #081D31;
}

.southern__mail input:focus::-webkit-input-placeholder {
  color: transparent;
}
.southern__mail input:focus:-moz-placeholder {
  color: transparent;
}
.southern__mail input:focus::-moz-placeholder {
  color: transparent;
}
.southern__mail input:focus:-ms-input-placeholder {
  color: transparent;
}

.booking-wrap {
  display: grid;
  grid-template-columns: 440px 1fr 90px;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  padding: 28px 35px 10px;
  border-radius: 30px;
  position: relative;
  z-index: 10;
}
.booking-wrap .nice-select:after { content: none; }
.booking-wrap .booking-left {  }

.booking-wrap.mobile-version {
  grid-template-columns: 1fr;
    margin-left: -15px;
    margin-right: -15px;
    gap: 20px;
    border-radius: 0;
}

.booking-wrapper.mobile-version .booking-wrap { grid-template-columns: 1fr;
    
    gap: 20px;
    /*border-radius: 0; */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .booking-wrap {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .booking-wrap {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .booking-wrap {
    grid-template-columns: 1fr;
    margin-left: -15px;
    margin-right: -15px;
    gap: 20px;
    border-radius: 0;
  }
}
.booking-wrap.style-2 {
  background: #081D31;
}
.booking-wrap.style-2 .booking-submit button {
  color: #081D31;
  background: #fff;
}

.booking-wrapper.mobile-version .booking-wrap .booking-left { max-width: 100%; }
.booking-wrapper.mobile-version .booking-wrap .booking-middle { max-width: 100%; }

.booking-wrapper.mobile-version .booking-wrap .booking-right { max-width: 100%; }

@media (min-width: 992px) and (max-width: 1199px) {
  .booking-wrap .booking-left {
    margin-bottom: 30px;
  }
	.booking-wrapper.mobile-version .booking-wrap .booking-left { margin-bottom: 0; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .booking-wrap .booking-left {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .booking-wrap .booking-left {
    max-width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .booking-wrap .booking-right {
    /*display: none;*/
	  text-align: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .booking-wrap .booking-right {
    /*display: none;*/
	  text-align: right;
  }
}
@media (max-width: 767px) {
  .booking-wrap .booking-right {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .booking-wrap .booking-middle {
    max-width: 100%;
  }
}

.booking-heading {
  margin-bottom: 21px;
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: end;
  justify-content: space-between;
  padding: 0px 2rem;
  gap: 20px;
}

.booking-wrapper.mobile-version .booking-heading {
  padding: 0;
    gap: 10px;
}

@media (max-width: 767px) {
  .booking-heading {
    padding: 0;
    gap: 10px;
  }
}
.booking-heading ul {
  display: flex;
  align-items: center;
  gap: 32px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.booking-wrapper.mobile-version .booking-heading ul {
  gap: 10px;
    width: 50%;
}



@media (max-width: 767px) {
  .booking-heading ul {
    gap: 10px;
	  width: 50%;
  }
}
.booking-heading ul li {
  line-height: 1;
}
.booking-heading ul li a {
  color: #8BB5CE;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.booking-wrapper.mobile-version .booking-heading ul li a {
  font-size: 8px;
}

@media (max-width: 767px) {
  .booking-heading ul li a {
    font-size: 8px;
  }
}
.booking-heading ul li a.active {
  color: #E6ECEF;
}
.booking-heading span {
  color: #E6ECEF;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.booking-heading span a { color: #fff; }
.booking-heading span strong {
	font-size: 16px;
    font-weight: inherit;
}

.booking-wrapper.mobile-version .booking-heading span { font-size: 8px; width: 50%; text-align: right; }
.booking-wrapper.mobile-version .booking-heading span a { display: block; }

@media (max-width: 767px) {
  .booking-heading span {
    font-size: 8px;
	  width: 50%;
    text-align: right;
  }
	.booking-heading span a { display: block; }
}

.booking-heading.style-2 ul li a {
  color: #081D31;
}
.booking-heading.style-2 ul li a.active {
  color: #8BB5CE;
}
.booking-heading.style-2 span {
  color: #081D31;
}

.booking-destination {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 14;
}

.booking-wrapper.mobile-version .booking-destination { display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; gap: 20px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .booking-destination {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .booking-destination {
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.booking-destination .destination-left { width: 150px; overflow: hidden; }
.booking-destination .destination-left .destination-select {  }
.booking-destination .destination-right { width: 150px; overflow: hidden; }
.booking-destination .destination-right .destination-select {  }
.booking-destination .destination-select .select2-container { width: 100% !important; }
.booking-destination .destination-select .select2-container .select2-selection { background-color: transparent; border: none; }
.booking-destination .destination-select .select2-container .select2-selection__rendered { color: #E6ECEF; font-size: 9px; font-weight: 500; letter-spacing: 1.8px; text-transform: uppercase; padding: 0; line-height: normal; }
.select2-container--default .select2-selection--single .select2-selection__placeholder { color: #fff; /*REPLACING KievitOT*/ font-family: 'Klavika Md'; }
.booking-destination .destination-select .select2-container .select2-selection .select2-selection__arrow { display: none; }

.booking-wrapper.mobile-version .booking-destination .destination-left { width: 120px;
    overflow: hidden; }
.booking-wrapper.mobile-version .booking-destination .destination-right { width: 120px;
    overflow: hidden; }

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	.booking-wrapper.mobile-version .booking-destination .destination-left { width: 100px;
		overflow: hidden; }
	.booking-wrapper.mobile-version .booking-destination .destination-right { width: 100px;
		overflow: hidden; }
}

@media (max-width: 767px) {
	.booking-destination .destination-left { width: 120px; overflow: hidden; }
	.booking-destination .destination-right { width: 120px; overflow: hidden; }
	.booking-destination .destination-left .destination-select {  }
	.booking-destination .destination-right .destination-select {  }
	.booking-destination .destination-select .select2-container .select2-selection { height: auto; }
}

.booking-destination .destination-left h4 {
  color: #E6ECEF;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.booking-destination .destination-left h4 label {
  cursor: pointer;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}
.booking-destination .destination-left .nice-select {
  background: none;
  border: 0;
  padding: 0;
  height: auto;
  line-height: 1;
}
.booking-destination .destination-left .nice-select .current {
  color: #E6ECEF;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.booking-destination .destination-left .nice-select .list {
  margin-top: 20px;
  background: #FFF;
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 48px 48px rgba(0, 0, 0, 0.09), 0px 108px 65px rgba(0, 0, 0, 0.05), 0px 193px 77px rgba(0, 0, 0, 0.01), 0px 301px 84px rgba(0, 0, 0, 0);
}
.booking-destination .destination-left .nice-select .list .option {
  padding: 18px 16px;
  line-height: 1;
  height: auto;
  color: #081D31;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(95, 110, 124, 0.41);
	margin: 0;
}
.booking-destination .destination-left .nice-select .list .option:hover, .booking-destination .destination-left .nice-select .list .option.focus, .booking-destination .destination-left .nice-select .list .option.selected, .booking-destination .destination-left .nice-select .list .option.selected.focus {
  background-color: #8BB5CE !important;
  color: #fff;
}
.booking-destination .destination-separator {
  width: 90px;
  flex: none;
	margin-top: -30px
}

.booking-wrapper.mobile-version .booking-destination .destination-separator { width: 50px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	.booking-wrapper.mobile-version .booking-destination .destination-separator { display: none; }
}

@media (max-width: 767px) {
  .booking-destination .destination-separator {
    width: 50px;
  }
}
.booking-destination .destination-right h4 {
  color: #E6ECEF;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.booking-destination .destination-right h4 label {
  cursor: pointer;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}
.booking-destination .destination-right .nice-select {
  background: none;
  border: 0;
  padding: 0;
  height: auto;
  line-height: 1;
}
.booking-destination .destination-right .nice-select .current {
  color: #E6ECEF;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.booking-destination .destination-right .nice-select .list {
  margin-top: 20px;
  background: #FFF;
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 48px 48px rgba(0, 0, 0, 0.09), 0px 108px 65px rgba(0, 0, 0, 0.05), 0px 193px 77px rgba(0, 0, 0, 0.01), 0px 301px 84px rgba(0, 0, 0, 0);
}
.booking-destination .destination-right .nice-select .list .option {
  padding: 18px 16px;
  line-height: 1;
  height: auto;
  color: #081D31;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(95, 110, 124, 0.41);
	margin: 0;
}
.booking-destination .destination-right .nice-select .list .option:hover, .booking-destination .destination-right .nice-select .list .option.focus, .booking-destination .destination-right .nice-select .list .option.selected, .booking-destination .destination-right .nice-select .list .option.selected.focus {
  background-color: #8BB5CE !important;
  color: #fff;
}
.booking-destination .popup-destination-from { position: absolute; top: 100%; left: 0; }
.booking-destination .popup-destination-from .select2-dropdown { width: 400px !important; }
.booking-destination .popup-destination-from .select2-container { left: -10px !important; top: 0 !important; }
.booking-destination .popup-destination-to { position: absolute; top: 100%; left: 0; }
.booking-destination .popup-destination-to .select2-dropdown { width: 400px !important; }
.booking-destination .popup-destination-to .select2-container {  top: 0 !important; }

.booking-wrapper.mobile-version .booking-destination .popup-destination-from .select2-dropdown { width: 350px !important; }
.booking-wrapper.mobile-version .booking-destination .popup-destination-to .select2-dropdown { width: 350px !important; }
.booking-wrapper.mobile-version .booking-destination .popup-destination-to .select2-container { left: -10px !important; }


@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.booking-wrapper.mobile-version .booking-destination .popup-destination-from .select2-dropdown { width: 250px !important; }
	.booking-wrapper.mobile-version .booking-destination .popup-destination-to .select2-dropdown { width: 250px !important; }
}
.booking-bottom {
  display: flex;
  justify-content: end;
	padding-top: 10px;
		padding-right: 35px;
	justify-content: space-between;
	display: none;
}
.booking-bottom.desktop {
	display: flex;
	justify-content: space-between;
	padding-left: 35px;
    padding-right: 35px;
}

.booking-wrapper.mobile-version .booking-bottom.desktop { display: none; }
.booking-wrapper.mobile-version .booking-bottom { margin-top: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center; }

@media (max-width: 767px) {
  .booking-bottom {
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
	.booking-bottom.desktop { display: none; }
	.booking-destination .popup-destination-from .select2-dropdown { width: 350px !important; }
	.booking-destination .popup-destination-to .select2-container { left: -10px !important; }
	.booking-destination .popup-destination-to .select2-dropdown { width: 350px !important; }
}
.booking-bottom .flexible .input-checkbox input[type=checkbox] {
  display: none;
}
.booking-bottom .flexible .input-checkbox input[type=checkbox]:checked ~ label .checkbox:before {
  visibility: visible;
  opacity: 1;
}
.booking-bottom .flexible .input-checkbox label {
  color: #E6ECEF;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.booking-bottom .flexible .input-checkbox label .checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #E6ECEF;
  border-radius: 5px;
}
.booking-bottom .flexible .input-checkbox label .checkbox:before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 500;
  font-size: 10px;
  visibility: hidden;
  opacity: 0;
}
.booking-bottom .promo-code {
  position: relative;
  z-index: 1;
}
.booking-bottom .promo-code .current-promo-code {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #E6ECEF;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}
.booking-bottom .promo-code .current-promo-code .icon svg {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.booking-bottom .promo-code .dropdown-promo-code {
  position: absolute;
  right: 0;
  top: 110%;
  background: #fff;
  width: 297px;
  padding: 14px 16px;
  border-radius: 5px;
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 48px 48px rgba(0, 0, 0, 0.09), 0px 108px 65px rgba(0, 0, 0, 0.05), 0px 193px 77px rgba(0, 0, 0, 0.01), 0px 301px 84px rgba(0, 0, 0, 0);
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.booking-bottom .promo-code .dropdown-promo-code li {
  color: #7A8998;
  font-size: 17px;
  font-weight: 300;
}
.booking-bottom .promo-code .dropdown-promo-code li input {
  color: #7A8998;
  font-size: 17px;
  font-weight: 300;
  width: 100%;
	background-color: transparent;
    border: none !important;
    box-shadow: none;
    outline: none;
}
.booking-bottom .promo-code .dropdown-promo-code li input:focus::-webkit-input-placeholder {
  color: transparent;
}
.booking-bottom .promo-code .dropdown-promo-code li input:focus:-moz-placeholder {
  color: transparent;
}
.booking-bottom .promo-code .dropdown-promo-code li input:focus::-moz-placeholder {
  color: transparent;
}
.booking-bottom .promo-code .dropdown-promo-code li input:focus:-ms-input-placeholder {
  color: transparent;
}
.booking-bottom .promo-code.active .current-promo-code .icon svg {
  transform: rotate(0deg);
}
.booking-bottom .promo-code.active .dropdown-promo-code {
  visibility: visible;
  opacity: 1;
  top: 100%;
	padding: 0;
}
.booking-bottom .promo-code-booking {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.booking-wrapper.mobile-version .booking-bottom .promo-code-booking .booking-submit { display: none !important; }

.booking-submit button {
  border-radius: 5px;
  background: #081D31;
  width: 90px;
  height: 42px;
  flex-shrink: 0;
  color: #E6ECEF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}

.booking-wrapper.mobile-version .booking-submit button { width: 100%;
    text-align: center; }

@media (max-width: 767px) {
  .booking-submit button {
    width: 100%;
    text-align: center;
  }
}

.booking-top {
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  gap: 15px;
  /*margin-bottom: 10px;*/
  align-items: flex-start;
}

.booking-wrapper.mobile-version .booking-top { grid-template-columns: 1fr;
    gap: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
  .booking-top {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .booking-top {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.booking-top .round-wrap {
  position: relative;
  z-index: 12;
}
.booking-top .round-wrap .round-wrap-inner {
	overflow: hidden;
}
.booking-top .round-wrap .select2-container { width: 150px !important; padding-bottom: 10px; }
.booking-top .round-wrap .select2-selection { background-color: transparent; border: none; position: relative; height: auto; }
.booking-top .round-wrap .select2-selection:after { border-bottom: 2px solid #8BB5CE;
    border-right: 2px solid #8BB5CE;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    margin-top: -10px;
    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    position: absolute;
    right: 36px;
    top: 50%; }
.booking-top .round-wrap .select2-selection__rendered { padding: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    border-bottom: 1px solid #ffff;
	height: 33px;
     }
.booking-top .round-wrap .select2-selection__arrow { display: none; }

.booking-wrapper.mobile-version .booking-top .round-wrap { margin-bottom: 25px; }
.booking-wrapper.mobile-version .booking-top .round-wrap .select2-container { width: 100% !important; }
.booking-wrapper.mobile-version .booking-top .round-wrap .select2-selection:after { right: 6px; }

@media (max-width: 767px) {
  .booking-top .round-wrap {
    margin-bottom: 25px;
  }
	.booking-top .round-wrap .select2-container { width: 100% !important; }
	.booking-top .round-wrap .select2-selection:after { right: 6px; }
}
.booking-top .round-wrap .nice-select {
  background: none;
  border: 0;
  padding: 0;
  height: auto;
  line-height: 1;
  width: 100%;
}
.booking-top .round-wrap .nice-select .current {
  position: relative;
  padding-right: 25px;
  color: #E6ECEF;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  /*letter-spacing: 1.8px;*/
  text-transform: capitalize;
  border-bottom: 1px solid #E6ECEF;
  /*padding-bottom: 11px;*/
  display: flex;
	height: 40px;
    align-items: center;
	margin-top: -7px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .booking-top .round-wrap .nice-select .current {
    font-size: 16px;
    padding-bottom: 6px;
  }
}
.booking-top .round-wrap .nice-select .current:after {
  border-bottom: 2px solid #8BB5CE;
  border-right: 2px solid #8BB5CE;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  margin-top: -10px;
  pointer-events: none;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: absolute;
  right: 6px;
  top: 50%;
}
.booking-top .round-wrap .nice-select .list {
  margin-top: 12px;
  background: #FFF;
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 48px 48px rgba(0, 0, 0, 0.09), 0px 108px 65px rgba(0, 0, 0, 0.05), 0px 193px 77px rgba(0, 0, 0, 0.01), 0px 301px 84px rgba(0, 0, 0, 0);
  /*width: 100%;*/
}
.booking-top .round-wrap .nice-select .list .option {
  padding: 18px 16px;
  line-height: 1;
  height: auto;
  color: #081D31;
  font-size: 17px;
  font-weight: 300;
  /*letter-spacing: 1.35px;*/
  text-transform: capitalize;
  border-bottom: 1px solid rgba(95, 110, 124, 0.41);
	margin: 0;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .booking-top .round-wrap .nice-select .list .option {
    font-size: 14px;
  }
}
.booking-top .round-wrap .nice-select .list .option:hover, .booking-top .round-wrap .nice-select .list .option.focus, .booking-top .round-wrap .nice-select .list .option.selected, .booking-top .round-wrap .nice-select .list .option.selected.focus {
  background-color: #8BB5CE !important;
  color: #fff;
}

.passenger {
  position: relative;
  z-index: 10;
}
.passenger .passenger-current {
  display: flex;
  gap: 5px;
  position: relative;
  padding-right: 25px;
  color: #E6ECEF;
  font-size: 20px;
  font-weight: 300;
  /*letter-spacing: 1.8px;*/
  text-transform: capitalize;
  border-bottom: 1px solid #E6ECEF;
  /*padding-bottom: 6px;*/
  cursor: pointer;
	height: 40px;
    align-items: center;
    margin-top: -7px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .passenger .passenger-current {
    font-size: 16px;
  }
}
.passenger .passenger-current:after {
  border-bottom: 2px solid #8BB5CE;
  border-right: 2px solid #8BB5CE;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  margin-top: -10px;
  pointer-events: none;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: absolute;
  right: 6px;
  top: 50%;
}
.passenger .dropdown-passenger-open {
  position: absolute;
  right: 0;
  top: 110%;
  background: #fff;
  /*width: 100%;*/
  border-radius: 5px;
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 48px 48px rgba(0, 0, 0, 0.09), 0px 108px 65px rgba(0, 0, 0, 0.05), 0px 193px 77px rgba(0, 0, 0, 0.01), 0px 301px 84px rgba(0, 0, 0, 0);
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
}
.passenger .dropdown-passenger-open .passenger-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #081D31;
  font-size: 17px;
  font-weight: 300;
  padding: 14px 16px;
  transition: all 0.3s !important;
	text-wrap: nowrap;
}
.passenger .dropdown-passenger-open .passenger-item p { margin-bottom: 0; }
.passenger .dropdown-passenger-open .passenger-item .nice-number {
  color: #081D31;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.passenger .dropdown-passenger-open .passenger-item .nice-number input {
  width: 20px !important;
  font-size: 20px;
  background: none;
  transition: all 0.3s !important;
	padding: 0;
	border: none;
}
.passenger .dropdown-passenger-open .passenger-item .nice-number button {
  width: 15px;
  background: none;
  transition: all 0.3s !important;
	border: none;
}
.passenger .dropdown-passenger-open .passenger-item:hover {
  background: #8BB5CE;
  color: #fff;
}
.passenger .dropdown-passenger-open .passenger-item:hover .nice-number input,
.passenger .dropdown-passenger-open .passenger-item:hover .nice-number button {
  color: #fff;
}
.passenger.active .dropdown-passenger-open {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.depart-return {  }

.booking-wrapper.mobile-version .depart-return { margin-bottom: 25px; }

.depart-return .depart-return-wrap {
  position: relative;
}
.depart-return .depart-return-wrap:after { border-bottom: 2px solid #8BB5CE;
    border-right: 2px solid #8BB5CE;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    margin-top: -10px;
    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    position: absolute;
    right: 6px;
    top: 50%; }
.depart-return .depart-return-wrap label {
  display: flex;
  gap: 5px;
  position: relative;
  padding-right: 25px;
  color: #E6ECEF;
  font-size: 20px;
  font-weight: 300;
  /*letter-spacing: 1.8px;*/
  text-transform: capitalize;
  border-bottom: 1px solid #E6ECEF;
  /*padding-bottom: 6px;*/
  cursor: pointer;
	height: 40px;
    align-items: center;
    margin-top: -7px;
}
@media (max-width: 767px) {
	.depart-return { margin-bottom: 25px; }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .depart-return .depart-return-wrap label {
    font-size: 16px;
  }
}
.depart-return .depart-return-wrap label:after {
  border-bottom: 2px solid #8BB5CE;
  border-right: 2px solid #8BB5CE;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  margin-top: -10px;
  pointer-events: none;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: absolute;
  right: 6px;
  top: 50%;
}
.depart-return .depart-return-wrap input {
  width: 100%;
    height: 33px;
    padding: 0 10px;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    font-family: 'KievitOT';
    font-size: 20px;
    color: #fff;
	font-weight: 200;
	cursor: pointer;
	padding: 0;
}
.depart-return .depart-return-wrap input:focus { outline: none;
    border: none !important; }
.daterangepicker td.start-date {
  border-radius: 30px 0 0 30px;
}

.daterangepicker td.end-date {
  border-radius: 0 30px 30px 0;
}

.daterangepicker td.in-range {
  color: #081D31;
  background-color: rgba(139, 181, 206, 0.5);
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #081D31;
  border-color: transparent;
  color: #fff;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #081D31;
  border-color: transparent;
  color: #fff;
}

.daterangepicker .drp-buttons .btn-primary {
  background: #081D31;
  border-color: #081D31;
  box-shadow: none;
}

.daterangepicker {
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 48px 48px rgba(0, 0, 0, 0.09), 0px 108px 65px rgba(0, 0, 0, 0.05), 0px 193px 77px rgba(0, 0, 0, 0.01), 0px 301px 84px rgba(0, 0, 0, 0);
}

.offcanvas-area {
  width: 100%;
  background: #0A3B58;
  padding: 35px 40px;
}
@media (max-width: 767px) {
  .offcanvas-area {
    padding: 15px 15px;
    padding-bottom: 107px;
  }
}
.offcanvas-area .offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .offcanvas-area .offcanvas-header {
    margin-bottom: 40px;
  }
	.offcanvas-area .offcanvas-header .logo { max-width: 150px; }
}
.offcanvas-area .offcanvas-header .menu-close {
  padding: 0 5px;
  cursor: pointer;
}
.offcanvas-area .shape {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}
@media (max-width: 767px) {
  .offcanvas-area .shape {
    width: 170px;
  }
}
.offcanvas-area .shape svg {
  max-width: 100%;
}
@media (max-width: 767px) {
  .offcanvas-area .offcanvas-menu .main-menu ul li {
    margin-bottom: 20px;
  }
}
.offcanvas-area .offcanvas-list {
  display: flex;
  gap: 50px;
  /*margin-top: 160px;*/
}
@media (max-width: 767px) {
  .offcanvas-area .offcanvas-list {
    /*margin-top: 80px;*/
	 /*padding: 0 25px;*/
  }
}
.offcanvas-area .offcanvas-list ul li a {
  color: #E6ECEF;
  font-size: 30px;
  font-weight: 200;
  line-height: 200%;
	text-transform: none;
	letter-spacing: normal;
	font-family: 'KievitOT';
}
@media (max-width: 767px) {
  .offcanvas-area .offcanvas-list ul li a {
    font-size: 24px;
	  padding: 0;
  }
}
.offcanvas-area .offcanvas-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #081D31;
  padding: 30px 40px;
  margin-bottom: -40px;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: 50px;
	display: none;
}
@media (max-width: 767px) {
	.offcanvas-area .offcanvas-footer-wrapper {
		/*position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;*/
	}
  .offcanvas-area .offcanvas-footer {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 15px 25px;
    margin-top: 25px;
  }
}
.offcanvas-area .offcanvas-footer .left {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 767px) {
  .offcanvas-area .offcanvas-footer .left svg {
    width: 120px;
  }
}
.offcanvas-area .offcanvas-footer .f-logo {
  max-width: 43px;
}
.offcanvas-area .offcanvas-footer .f-social {
  display: flex;
  align-items: center;
  gap: 23px;
}
@media (max-width: 767px) {
  .offcanvas-area .offcanvas-footer .f-social {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .offcanvas-area .offcanvas-footer .f-social svg {
    width: 30px;
  }
  .offcanvas-area .offcanvas-footer .f-social a.twitter svg {
    width: 20px;
  }
}

header#header__area.header__style__2 {
  position: relative;
}
header#header__area.header__style__2 .header__logo span {
  color: #0A3B58;
}
header#header__area.header__style__2 .header__nav__btn ul li a {
  color: #0A3B58;
}

.booking-section {
  padding-top: 50px;
  padding-bottom: 300px;
}

.step-section {
  padding-top: 60px;
  padding-bottom: 45px;
  background: rgba(139, 181, 206, 0.25);
}

.step-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.step-nav ul li a {
  min-width: 200px;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #0A3B58;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  transition: all 0.3s;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .step-nav ul li a {
    min-width: 180px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .step-nav ul li a {
    min-width: 150px;
  }
}
@media (max-width: 767px) {
  .step-nav ul li a {
    min-width: 150px;
  }
}
.step-nav ul li a .num {
  color: #0A3B58;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-top: -10px;
  transition: all 0.3s;
  font-family: "Klavika Rg";
}
.step-nav ul li a.active, .step-nav ul li a:hover {
  border-color: #0A3B58;
}
.step-nav ul li a.active .num, .step-nav ul li a:hover .num {
  color: #8BB5CE;
}

.direction-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.direction-info {
  padding: 16px 30px;
  background: #F5F5F5;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  margin-bottom: 30px;
}
.direction-info p {
  color: #7A8998;
  font-size: 15px;
  font-weight: 300;
  line-height: 150%;
}

.theme-btn {
  display: inline-block;
  padding: 10px 15px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #0A3B58;
}

.direction-info-wrap {
  margin-bottom: 40px;
}
.direction-info-wrap .direction-info-head {
  background: rgba(139, 181, 206, 0.25);
  display: grid;
  grid-template-columns: 200px 1fr;
  border-radius: 10px 10px 0 0;
}
@media (max-width: 767px) {
  .direction-info-wrap .direction-info-head {
    grid-template-columns: 1fr;
  }
}
.direction-info-wrap .direction-info-head .left {
  padding: 20px 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 767px) {
  .direction-info-wrap .direction-info-head .left {
    padding: 15px 20px;
  }
}
.direction-info-wrap .direction-info-head .left p {
  color: #0A3B58;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.direction-info-wrap .direction-info-head .left h4 {
  color: #0A3B58;
  font-size: 17px;
  font-weight: 550;
  line-height: 150%;
}
.direction-info-wrap .direction-info-head .left span {
  color: #0A3B58;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.direction-info-wrap .direction-info-head .right {
  padding: 15px 40px;
  border-left: 1px solid #8BB5CE;
  display: grid;
  grid-template-columns: 1fr 40px 2fr;
  gap: 50px;
  align-items: center;
}
@media (max-width: 767px) {
  .direction-info-wrap .direction-info-head .right {
    border-left: 0;
    border-top: 1px solid #8BB5CE;
    grid-template-columns: 1fr 20px 1fr;
    padding: 15px 20px;
    gap: 30px;
  }
}
.direction-info-wrap .direction-info-head .right h3 {
  color: #0A3B58;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.direction-info-wrap .direction-info-head .right p {
  color: #0A3B58;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.direction-info-wrap .direction-info-head .right svg {
  max-width: 100%;
}
.direction-info-wrap .direction-info-content {
  padding: 24px 15px;
  background: #F5F5F5;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
.direction-info-wrap .direction-info-content .direction-info-item {
  display: inline-block;
  max-width: 130px;
  width: 100%;
  background: #081D31;
  padding: 20px 10px 10px;
  text-align: center;
  border-radius: 10px;
}
.direction-info-wrap .direction-info-content .direction-info-item small {
  color: #FFF;
  font-size: 7px;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.direction-info-wrap .direction-info-content .direction-info-item h3 {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-family: "Klavika Rg";
}
.direction-info-wrap .direction-info-content .direction-info-item p {
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

.owl-nav .owl-prev {
  border: 2px solid #fff !important;
  background: transparent !important;
}
.owl-nav .owl-prev:hover {
  background: #869791 !important;
  border-color: #869791 !important;
}
.owl-nav .owl-prev span {
  top: -10px;
}
.owl-nav .owl-next {
  border: 2px solid #fff !important;
  background: transparent !important;
}
.owl-nav .owl-next:hover {
  background: #869791 !important;
  border-color: #869791 !important;
}
.owl-nav .owl-next span {
  top: -10px;
}

@media (max-width: 767px) {
  .footer__area,
  .affordable__area,
  .southern__area,
  .launching__area,
  .map__area {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 767px) {
  .footer__bottom {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 767px) {
  .footer__bottom__wrap img {
    width: 70px;
  }
}

@media (max-width: 767px) {
  .map__wrap {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
}
@media (max-width: 767px) {
  .map__wrap .map__btns {
    position: static;
    margin-bottom: 40px;
	  gap: 10px;
  }
}

/*# sourceMappingURL=custom.css.map */
