@media (min-width: 320px) and (max-width: 1399px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }

  .header__nav__btn ul li a {
    padding: 0px 5px 10px;
}

.header__nav__btn {
    gap: 10px;
}

a.btns.search {
    margin: 0px 15px;
    width: 20px;
}

.header__logo a {
    display: block;
    width: 158px;
}

.header__wrap {
    padding: 20px 0px 10px;
}

.hero__wrap {
  padding: 225px 0px 41px;
}

.hero__content {
  padding-bottom: 100px;
}
}

/* LG Device :1200px. */
@media (min-width: 320px) and (max-width: 1199px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 960px;
  }


  .header__nav__btn ul {
    gap: 10px;
}

.header__logo a {
    width: 128px;
}

.header__logo {
    gap: 10px;
}

.booking__destination {
  gap: 34px;
}

.booking__destination__right img {
  width: 60px;
}

.booking__selector {
  gap: 14px;
}

.nice-select span {
  font-size: 14.479px;
}

.launching__card__img {
    margin-bottom: 20px;
}

.launching__card__content p {
    margin: 15px 0px 20px;
}

.launching__card__content h6 br {
    display: none;
}

.southern__top {
    margin-bottom: 55px;
}

.affordable__content h2 {
    font-size: 35px;
}

.affordable__wrap {
    padding: 68px 0px;
}

.affordable__card {
  border-radius: 30px;
  height: 330px;
}

.footer__wrap {
    padding: 60px 0px 26px;
}

.footer__bottom {
    padding: 20px 0px;
}

}

/* MD Device :768px. */
@media (min-width: 320px) and (max-width: 991px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 720px;
	}

	section#launching__area {
		margin-bottom: 45px;
	}

	.affordable__slider .owl-stage-outer {
		margin-right: 0px !important;
		overflow: visible;
	}

	.affordable__slider {
		margin-left: 0px;
	}

	.affordable__content h2 {
		font-size: 30px;
	}

}
@media (min-width: 768px) and (max-width: 991px) {
	.affordable__slider .owl-stage-outer {
		margin-right: 0px !important;
		overflow: hidden;
	}
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero__content h1 {
    font-size: 30px;
}

.hero__wrap {
    padding: 188px 0px 41px;
}

  .booking__selector {
    flex-wrap: wrap;
}

  section#southern__area {
    padding: 50px 0px 58px;
}

.southern__content h2 {
    font-size: 30px;
}

.southern__img {
    width: 100px;
}

.affordable__wrap {
    padding: 50px 0px 30px;
}

.footer__social {
    margin-bottom: 20px;
}

.footer__logo {
    margin-bottom: 35px;
}

.footer__bottom__wrap {
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.footer__bottom__wrap ul {
  gap: 20px;
}
}

@media (min-width: 320px) and (max-width: 575px) {
  .hero__wrap {
    padding: 138px 0px 0;
}

.hero__content h1 {
  font-size: 25px;
}

.hero__content {
  padding-bottom: 68px;
}

.hero__booking {
  padding: 22px 16px;
}

.booking__single__select {
  max-width: 100% !important;
}

  .header__wrap {
    padding: 15px 0px 10px;
}

.header__bar a {
    margin-left: 0px;
}

.header__logo a {
    width: 100px;
}

  .booking__destination {
    gap: 20px;
    flex-wrap: wrap;
}

  .proud__members__card {
    grid-template-columns: repeat(2,1fr);
}

.trip__cards {
  grid-template-columns: repeat(1,1fr);
}

.map__wrap {
  height: 200px;
  border-radius: 14px;
  overflow: hidden;
}

.map__wrap img {
  height: 100%;
}
}


/* SM Small Device :576px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 540px;
  }

}
