/*===================== REUSABLE  CSS AREA START =====================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: 'KievitOT';
}


ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button,
input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

.btns {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a:hover {
    /*color: #fff;*/
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*===================== REUSABLE  CSS AREA START =====================*/

/*===================== MAP CSS AREA START =====================*/
.map__title {
    text-align: center;
    margin-bottom: 31px;
}

.map__title h5 {
    color: #081D31;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 3.4px;
    text-transform: uppercase;
}

.map__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: absolute;
    top: 21px;
    width: 100%;
    z-index: 1;
}

.map__btns a {
    border-radius: 30px;
    background: #081D31;
    color: #E6ECEF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    height: 40px;
    padding: 0px 22px;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}

@media (max-width: 767px) {
	.map__btns a {
		padding: 0 12px;
		font-size: 10px;
	}
}

.map__btns a:hover {
    background: #8BB5CE;
}

.map__btns a.active {
	background: #8BB5CE;
}

.map__wrap {
    position: relative;
}

section#map__area {
    margin-bottom: 66px;
    position: relative;
}

/*===================== MAP CSS AREA END =====================*/

/*===================== SOUTHERN CSS AREA START =====================*/
section#southern__area {
    position: relative;
    background: #024362;
    padding: 78px 0px 87px;
}

.southern__top {
    margin-bottom: 80px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.southern__content h2 {
    color: #E6ECEF;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: 110%; /* 44px */
    margin-bottom: 28px;
}

.southern__content span {
    color: #E6ECEF;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5%; /* 14.662px */
}

.southern__mail {
    max-width: 368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    margin-bottom: 6px;
}

.southern__mail input {
    background: transparent;
    color: #E6ECEF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5%; /* 22.95px */
    display: block;
    border-bottom: 1px solid #E6ECEF;
    width: 100%;
    padding-bottom: 8px;
	padding-left: 0;
	box-shadow: none;
}

.southern__mail input::placeholder {
    color: #E6ECEF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5%; /* 22.95px */
}

.southern__mail input:focus {
	background-color: transparent;
	box-shadow: none;
}

.southern__mail img {
    /*filter: brightness(44.5);*/
}

.southern__slider .owl-stage-outer {
    margin-right: -3000px;
}

.southern__single__card {
    position: relative;
    height: 436px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

.southern__single__card video {
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
    border-radius: 40px;
	height: 100%;
}

.southern__single__card img {
    height: 100%;
}

.southern__single__card:hover  img {
    transform: scale(1.05);
}

.southern__single__card a {
    /*position: absolute;
    top: 26px;
    right: 26px;*/
}

.southern__single__card a .small-plane-logo { display: block; position: absolute; top: 15px; right: 15px; width: 35px; object-fit: cover; height: 35px; }

.southern__single__card h5 {
    color: #E6ECEF;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    position: absolute;
    bottom: 38px;
    left: 30px;
	text-transform: none;
}

.owl-nav {
	text-align: left !important;
}
.owl-prev ,
.owl-next{
	height: 40px;
	width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: gray !important;
	border-radius: 50% !important;
    position: relative;
    transition: all .3s;
}
.owl-prev:hover ,
.owl-next:hover {
    background-color: #000 !important;
}
.owl-theme .owl-nav span {
	color: #FFF;
	font-size: 34px !important;
	position: absolute;
	top: -9px;
	transform: translateX(-50%);
	left: 50%;
}
/*===================== SOUTHERN CSS AREA END =====================*/

/*===================== AFFORDABLE CSS AREA START =====================*/
.affordable__area {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.affordable__icons {
    display: flex;
    align-items: center;
    gap: 4.5px;
}

.affordable__content span {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    margin: 22px 0px;
}

.affordable__content {
    color: #E6ECEF;
}

.affordable__content h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 44px */
}

.affordable__content p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 127.5%;
    margin: 22px 0px 32px;
    max-width: 533px;
}

.affordable__content h2 br, .affordable__content p br {
    /*display: none;*/
}

.affordable__content > a {
    color: #E6ECEF;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 127.5%; /* 25.5px */
}

.affordable__content > a img {
    width: 32px;
    filter: brightness(50.5);
}

.affordable__card {
    border-radius: 30px;
    overflow: hidden;
    height: 446px;
    cursor: pointer;
}

.affordable__card img {
    height: 100%;
}

.affordable__card:hover img {
    transform: scale(1.05);
}

.affordable__wrap {
    padding: 134px 0px;
}

.affordable__slider .owl-stage-outer {
    margin-right: -300px;
}

.affordable__slider {
    margin-left: 120px;
}

/*===================== AFFORDABLE CSS AREA END =====================*/

/*===================== FOOTER CSS AREA START =====================*/
footer#footer__area {
    background: #024362;
}

.footer__wrap {
    padding: 87px 0px 26px;
}

.footer__logo__social p {
    color: rgba(230, 236, 239, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 15.6px */
}

.footer__logo {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-bottom: 46px;
}

.sam {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sam img {
    width: 26px;
}

.sam span {
    color: #E6ECEF;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    font-family: 'Klavika Rg';
}

.footer__social {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__social a {
    color: #fff;
    font-size: 24px;
}

.footer__top__list ul:first-child {
    column-gap: 50px;
    row-gap: 20px;
    margin-bottom: 22px;
}

.footer__top__list ul:first-child li a {
    color: #E6ECEF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}

.footer__top__list ul:last-child li a {
    color: #E6ECEF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 127.5%;
    text-transform: capitalize;
}

.footer__top__list ul:last-child {
    column-gap: 31px;
    row-gap: 19px;
}


.footer__top__list {
    margin-bottom: 50px;
}

.footer__top__list ul {
    flex-wrap: wrap;
}

.footer__top__list ul li {
    flex-shrink: 0;
}

.footer__bottom__icons {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

.footer__bottom__icons img {
    width: 14px;
}

.footer__bottom__coontent p {
    color: rgba(230, 236, 239, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 15.6px */
}


.footer__bottom {
    background: #081D31;
    padding: 35px;
}

.footer__bottom__wrap {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 60px;
}

.footer__bottom__wrap ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.footer__bottom__wrap ul li a {
    color: #E6ECEF;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
	font-family: 'Klavika Md';
}

/*===================== FOOTER CSS AREA END =====================*/

/*===================== HEADER CSS AREA START =====================*/
header#header__area {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
}

.header__wrap {
    padding: 37px 0px 20px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1248px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 17px;
    color: #fff;
}

.header__logo span {
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
}

.header__nav__btn {
    display: flex;
    align-items: center;
    gap: 66px;
}

.header__btns {
    display: flex;
    align-items: center;
}

a.btns.search {
    margin: 0px 34px 0px 24px;
	display: none;
}
body a.btns.search img.homepage-only { display: none; }
body a.btns.search img.not-homepage { display: none; }
body.home a.btns.search img.homepage-only { display: block; }
body:not(.home) a.btns.search img.not-homepage { display: block; }

a.btns.login {
    color: #024362;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #E6ECEF;
    width: 79px;
    height: 33px;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}

a.btns.login:hover {
    background-color: #024362;
    color: #fff;
}

.header__nav__btn ul {
    gap: 10px;
}

.header__nav__btn ul li a {
    color: #0A3B58;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 0px 17px 21px;
    position: relative;
	font-family: 'Klavika Md';	/*REPLACING KievitOT*/
}
body.home .header__nav__btn ul li a,
body.page-id-1233 .header__nav__btn ul li a { color: #E6ECEF; }

.header__nav__btn ul li a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #8BB5CE;
    display: none;
}

.header__nav__btn ul li a:hover:after {
    display: block;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 17px;
    color: #fff;
}

.header__logo span {
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    font-family: "Klavika Rg";
}


.header__bar a {
    margin-left: 20px;
    font-size: 26px;
    color: #fff;
}

.header__bar {

}

/*===================== HEADER CSS AREA END =====================*/

